.inputUser{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.border{
    border: 1px solid #30303030;
    border-radius: 5px;
    display: flex;
    padding: 10px;
}

.inputUser input{
    border: none;
}

.profileNrepository{
    display: flex;
    justify-content: center;
}

.repositorieWhrapper{
    width: 500px;
    margin-top: 10px;
}
